
.g-t{
    width: 25%;
    height: 100%;
    background-color:  rgb(103, 103, 232);
    position: relative;
    left: 40%;
    border-radius: 10px;
    text-decoration: none;
}
.g-t a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.3s;
}
.g-t a:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 30px;
}