.g{
    background-size: cover;
    background: linear-gradient(217deg, rgba(0, 51, 255, 0.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0, 162, 255, 0.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.g-edit{
    width: 40%;
    height: 100%;
    background-color: white;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.g-edit2{
    width: 60%;
    height: 100%;
    background-image: url(pat-kwon-EJTjetc8tPs-unsplash.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 0.3s;
}
.form-edit{
    border-top: none;
    border-left: none;
    border-right: none;
}
.form-edit:focus-edit{
    outline: none;
}
.input{
    border-top: none;
    border-left: none;
    border-right: none;
    transition: 0.3s;
    width: 70%;
    position: relative;
    left: 6%;
    height: 27px;
    font-size: 1rem;
    outline: none;
    &:focus{
    transition: 1.35s ease;
    color: #000000;
    &::-webkit-input-placeholder{
        transition: opacity 0.45s ease; 
  	    opacity: 0;
     }
    &::-moz-placeholder {
        transition: opacity 0.45s ease; 
  	    opacity: 0;
     }
    &:-ms-placeholder {
        transition: opacity 0.45s ease; 
  	    opacity: 0;
     }    
   }
}
.label{
    font-size: 25px;
    border: none;
}

.input:hover{
    border-color: rgb(220, 216, 216);
    
}
.b-label{
    width: 100px;
    height: 40px;
    border: none;
    background-color: black;
    color: white;
    position: relative;
    left: 90px;
    top: 12px;
}
.b-label:hover{
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    position: relative;
    left: 50px;
}
a:hover{
    color: white;
}